.navbar {
  list-style: none;
  display: flex;
  gap: 25px;
  color: #fff !important;
  justify-content: start;
  align-items: center;
  width: 100% !important;
  margin-bottom: 40px;
  height: 100px;
  padding-top: 2rem;

}

.logo {
  font-size: 22px;
  font-weight: 600;
}

.nav-cont{
  display: flex;
  justify-content: end;
  align-items: center;
  width: 70%;
  padding: 0rem 10rem;
}
.navbar h2{
    cursor: pointer;
    width: 30% ;
    display: flex;
    align-items: start;
    justify-content: center;

}

.navbar a {
    color: #fff !important;
    text-decoration: none;
    font-size: 18px;
    width: 0%;
    display: flex;
    align-items: center;
    padding: 0px 3rem;
    justify-content: center;
    font-weight: 600;
    cursor: pointer;
}


.navbar a:hover {
  text-decoration: none;
}
.nav-cont>.active{
  color: #c3db38 !important;
}
