
.listing {
  background: var(--accent-color);
  border-radius: 30px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  height: 66vh;
  width: 400px;
 border: 3px solid #fff;
 overflow: hidden;         
 transition: height 0.3s ease;

}
.listing-heading {
  color: #fff;
  padding: 10px 20px 0 20px;
  cursor: pointer;
}
.listing-photo {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}
.listing-location {
  padding: 10px 20px 10px 20px;

}

.listing>.listing-p{
  padding: 0px 20px 50px 20px;
    max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.listing-p.show{
  max-height: 500px;
}
.listing-location::before {
  content: url("/assets/location-pin.svg") / "";
}

section.listing a {
  padding-left: 20px;
  text-decoration: none;
  color: var(--primary-color);
}
section.listing a::after {
  content: "\203A";
  margin-left: 5px;
}

 

