
<app-page-layout title="">
<section>
 <div  class="contactForm ">
  <h2>Card Creation Form</h2>

<form [formGroup]="cardForm" (ngSubmit)="submitForm()" class="form-col">
 <div class="form-group">
  <input type="text" placeholder="Title" formControlName="title" />

  <textarea placeholder="Description" formControlName="description"></textarea></div>


  <div class="form-group">
  <input type="text" placeholder="Location" formControlName="location" />

  <input
    type="text"
    placeholder="Image names (todo.png)"
    formControlName="images"
  />
</div>

  <button type="submit" class="btns">Add Card</button>

</form>
 </div>

</section>
</app-page-layout>