
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    /* background-color: #000000; */
    color: #ffffff;
     font-family: "Poppins", sans-serif;
}
body{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    background-color: #000000;
    color: #ffffff;
}