.two-box {
  position: relative;
  display: flex;
  width: 100%;
  padding-right: 2rem;
  height: 100vh;
  overflow-x: none;
  background: url('/assets/bg.png') no-repeat center/cover;
  padding-bottom: 10rem;
}


.left-box,
.right-box {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.left-box>img {
  width: 100%;
  height: 450px;
  object-fit: contain;
  /* object-position: top;
  object-position: center;
object-position: bottom; */
}

.right-box {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: start;
  color: #fff;
  flex-direction: column;
  padding-right: 7rem;
}

.hero-head {
  text-align: left;
  margin: 0px;
  padding: 0px;
  font-weight: 600;
  font-size: 52px;
}

.hero-text {
  padding-top: 10px;
  text-align: left;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  line-height: 28px;
}

/* balls */
.ball {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  opacity: 0.4;
  background: radial-gradient(circle, #1f060e, #2e0312);
  z-index: 0;
}

.ball1 {
  top: 20px;
  left: 10%;
}

.ball2 {
  top: 60%;
  left: 40%;
  width: 200px;
  height: 200px;
}

.ball3 {
  top: 30%;
  left: 75%;
}

.ball4 {
  top: 15%;
  left: 72%;
  width: 200px;
  height: 200px;
}


.btn {
  background-color: #ff4438;
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  padding: 15px 30px;
  margin-top: 20px;
}

.form-sec {
  width: 100%;
  padding: 5rem 8rem 1rem 8rem;
  height: 40vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

form {
  display: flex;
  flex-direction: column;
}

form>input {
  padding: 10px 24px;
  background-color: #000000;
  color: #fff;
  font-size: 18px;
  margin: 20px;
  font-weight: 600;
  border: 4px solid #fff;

}

form>button {
  color: #fff;
  background-color: #ff4438;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 35px;
  margin: 20px;
  border-radius: 10px;
  outline: none;
}

.listing {
  background: #1f060e;
  border-radius: 30px;

}

.listing-heading {
  color: var(--primary-color);
  padding: 10px 20px 0 20px;
}

.listing-photo {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}

.listing-location {
  padding: 10px 20px 20px 20px;
}

.listing-location::before {
  content: url("/assets/location-pin.svg") / "";
}

section.listing a {
  padding-left: 20px;
  text-decoration: none;
  color: var(--primary-color);
}

section.listing a::after {
  content: "\203A";
  margin-left: 5px;
}

.listing-wrapper {
  padding: 5rem 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  /* space between cards */
  justify-content: center;
}



.card h2 {
  font-size: 20px;
  cursor: pointer;
}

button {
  margin-top: 10px;
  background: red;
  border: none;
  padding: 7px 10px;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
}

.card-flex{
display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.card {
    flex: 0 0 calc(33.333% - 20px); 
  box-sizing: border-box;
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 10px;
  background: #fff;
  height: 100vh;
  color: #000000 !important;
}

.card:hover {
  transform: translateY(-4px);
  background-color: #ffb69b;
  color: #ddd;
}

.image-flex {
   display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 12px;
}

.image-flex img {
 width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 6px;
}

.delete-btn {
  margin-top: 10px;
  padding: 6px 12px;
  border: none;
  background: #e74c3c;
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
}

.delete-btn:hover {
  background: #c0392b;
}

.btns {
  color: #ffffff;
  background-color: #d71616;
  font-size: 16px;
  font-weight: 600;
  border-radius: 69px;
  padding: 15px 30px;
  margin: 15px 20px;
  border: 3px solid #fcf909;
  cursor: pointer;
  width: 140px;

}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 20px;
  margin-bottom: 3rem;
}

.pagination button {
  padding: 15px 42px;
  border: 1px solid #ccc;
  background: #ffffff !important;
  cursor: pointer;
  color: #000000 !important;
}

.pagination button.active {
  background: #000 !important;
  color: #ffffff !important;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: allowed;
}

.search-input {
    width: 50%;
    padding: 15px 32px;
    border: 1px solid #ccc;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: AUTO;
    border: 6px double #e74c3c;
    font-size: 18px;
    font-weight: 600;
}




@media (max-width: 1024px) {
  .card {
    flex: 0 0 calc(50% - 20px); /* 2 cards */
  }

}

@media (max-width: 600px) {
  .contactForm {
    width: 100%;
    height: auto;
    background-color: orangered;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 30px;
    padding: 20px;
    flex-wrap: wrap;
}
  
  .card {
    width: 100%;
    height: 72vh;
    flex: 0 0 calc(100% - 20px);
    padding: 20px;
  }
    .img-flex img{
    width: 340px;
  }
  .pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
    margin-bottom: 3rem;
    padding: 20px;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.pagination button.active {
    background: #000 !important;
    color: #ffffff !important;
    font-size: 19px;
    font-weight: 600;
}
.pagination button {
    padding: 15px 42px;
    border: 1px solid #ccc;
    background: #ffffff !important;
    cursor: pointer;
    color: #000000 !important;
    font-size: 19px;
    font-weight: 600;
}
button {
    margin-top: 10px;
    background: red;
    border: none;
    padding: 15px 30px;
    border-radius: 8px;
    color: #fff;
    cursor: pointer;
    width: 50%;
}
.card-flex{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding: 20px;
}
}