

<app-contact (cardCreated)="onCardCreated($event)"></app-contact>

<input
  type="text"
  [formControl]="searchControl"
  placeholder="Search by title, description or location"
  class="search-input"
/>



<div class="card-flex">
  <div class="card" *ngFor="let card of paginatedCards">
    <div class="img-flex">
      <img *ngFor="let img of card.images" [src]="img" />
    </div>

    <h3>{{ card.title }}</h3>
    <p>{{ card.description }}</p>
    <p>{{ card.location }}</p>

    <button (click)="deleteCard(card.id!)">Delete</button>
  </div>
</div>

<!-- Pagination -->
<div class="pagination" *ngIf="totalPages > 1">
  <button (click)="prevPage()" [disabled]="currentPage === 1">Prev</button>

  <button
    *ngFor="let page of [].constructor(totalPages); let i = index"
    (click)="goToPage(i + 1)"
    [class.active]="currentPage === i + 1">
    {{ i + 1 }}
  </button>

  <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
</div>
